body{
    background-color: black;
    color:white;
    /* background-image:url("https://cdn.pixabay.com/photo/2019/06/23/17/11/mandala-4294290__340.jpg"); 
    height: 2500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    opacity:10;*/
}
.heading{
    text-align: center;
    font-size: 60px;
    font-style: oblique;

}
.topic li{
    display:inline-block;
    text-decoration: none;
    padding: 20px;
    font-size: 30px;
    border:4px solid white;
    font-style: italic;
}
